@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(..//imgs/bg.jpg);
  background-size: cover;
}

.hidden {
  display: none;
}
img {
  width: 10%;
  margin: 3%;
  margin-left: 7%;
}

h1 {
  font-family: "Outfit", sans-serif;
  color: white;
  text-align: center;
  font-size: 360%;
  padding-top: 2px;
}

h4.counter {
  font-size: 1.5em;
  margin-bottom: 4%;
  letter-spacing: 3px;
  background: linear-gradient(90deg, #ffffff 52%, #ff2f92 22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.answer {
  width: 28%;
  height: 34px;
  background-color: #2b2b4a;
  border-radius: 52px;
  font-size: 26px;
  font-weight: 500;
  color: white;

  display: inline-block;
  margin: 18px;

  box-sizing: content-box;
  padding: 2%;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-bottom: white;
}

#answer-shower {
  padding: 244px;
  margin-top: -3%;
  text-align: center;
  box-sizing: content-box;
}
/* -- CSS BOTTONI AL POSTO DEI CHECKBOX -- 

#buttonTransparent {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid transparent;
  border-radius: 50px;
  background-clip: padding-box;
  width: 220px;
  color: white;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 20px 10px;
  padding: 20px;
  cursor: pointer;
}

#buttonTransparent::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(175deg, rgba(255, 255, 255), rgba(210, 0, 148, 0.3));
  box-shadow: inset;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}*/

/*-- PULSANTE ILLUMINATO --

#buttonChecked {
  position: relative;
  background: linear-gradient(135deg, #c50090, #8f007b);
  border: none;
  border-radius: 50px;
  width: 220px;
  color: white;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 20px 10px;
  padding: 20px;
  cursor: pointer;
}

#buttonChecked::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 50px;
  background: linear-gradient(#ffffff, #d20094, #d60076);
  z-index: -1;
}*/

.counter {
  margin-top: 40px;
  color: #c50090;
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.counterQuestion {
  color: white;
  font-family: "Outfit", sans-serif;
  text-align: center;
}
